/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  display: grid;
  grid-template-rows: minmax(238px, 0.36fr) minmax(247px, 0.37fr) minmax(
      183px,
      0.27fr
    );
  inline-size: 100%;
  padding: 0 10px;
  height: 100vh;
  min-height: 668px;
}

.header-decoration {
  position: absolute;
  width: 33px;
  height: 26px;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--h2-color);
}

.header-decoration::after {
  content: '';
  position: absolute;
  inset-inline-start: 43px;
  inset-block-start: 8px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-block-color);
  box-shadow: 0 0 4px 2px var(--title-shadow-color);
  border-radius: 50%;
}

.header__title {
  color: var(--title-color);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
}

.footer__title {
  color: var(--title-color);
  line-height: 82.5%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  text-shadow: 2px 2px 0 var(--title-shadow-color);
  margin-inline-start: 0;
}

.title-decor {
  background-color: var(--accent-block-color);
  color: var(--h3-color);
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__article-section-subtitle {
  width: 100%;
  font-weight: 400;
  margin-block-start: 20px;
}

.title-decor-item {
  align-content: start;
  justify-self: end;
  max-width: 355px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25.04px;
  block-size: 25px;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--h2-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25.04px;
  block-size: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: var(--h2-color);
}

.decorated-zone {
  position: relative;
}

.header__theme-menu-button {
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--h2-color);
  background-color: transparent;
  border: none;
  width: 70px;
  height: 26px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--h2-color);
  pointer-events: none;
  text-align: center;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

@media (width > 375px) {
  .header {
    grid-template-rows: minmax(443px, 0.44fr) minmax(261px, 0.26fr) minmax(
        300px,
        0.3fr
      );
    padding: 20px 20px 0;
    min-height: 1024px;
  }

  .title-decor {
    display: block;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: -20px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header-decoration {
    inset-inline-end: 48px;
    inset-block-start: 20px;
  }

  .footer {
    min-height: 1024px;
  }

  .title-decor-item {
    min-width: 364px;
  }
}

@media (width > 768px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header {
    grid-template-rows: minmax(300px, 0.4fr) minmax(244px, 0.33fr) minmax(
        205px,
        0.27fr
      );
    padding-block-end: 0;
    min-height: 768px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title-decor-item {
    min-width: 491px;
  }
}

.main {
  padding-block-start: 40px;
  padding-block-end: 40px;
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 50px;
}

.main__article-title {
  color: var(--h2-color);
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.main__section-text {
  color: var(--text-color);
  font-family: 'IBM Plex Mono', monospace;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  padding-block-start: 10px;
}

.main__section-link {
  text-shadow: 2px 2px var(--accent-block-color);
  text-decoration: none;
  position: relative;
}

.main__section-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}

.main__section-link:hover::after {
  background-color: var(--text-color);
}

.main__section-link:hover {
  outline-color: var(--text-color);
  cursor: pointer;
}

.main__section-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section-link:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-outline);
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--h2-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.main__article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__article--layout-title-left-small {
  padding-block-start: 30px;
}

.main__article-subtitle {
  width: 100%;
}

@media (width >= 768px) {
  .main {
    padding: 20px;
    gap: 80px;
  }

  .main__article--layout-title-left-small {
    grid-template-areas:
      'header section-1'
      '. section-2';
    grid-template-columns: 30.78vw 1fr;
  }

  .main__article--layout-title-left-small .main__article-title {
    grid-area: header;
  }

  .main__article--layout-title-left-small
    .main__article-section:nth-of-type(1) {
    grid-area: section-1;
  }

  .main__article--layout-title-left-small
    .main__article-section:nth-of-type(2) {
    grid-area: section-2;
  }

  .main__article--layout-title-left-small {
    padding-block-start: 40px;
  }

  .main__article--layout-columns {
    grid-template-areas:
      'header .'
      'section-1 section-1'
      'section-2 section-2'
      'section-3 section-3';
    grid-template-columns: 30.78vw 1fr;
  }

  .main__article--layout-columns .main__article-title {
    grid-area: header;
  }

  .main__article--layout-columns .main__article-section:nth-of-type(1) {
    grid-area: section-1;
  }

  .main__article--layout-columns .main__article-section:nth-of-type(2) {
    grid-area: section-2;
  }

  .main__article--layout-columns .main__article-section:nth-of-type(3) {
    grid-area: section-3;
  }

  .main__article--layout-title-left-big {
    grid-template-areas: 'header section-1';

    grid-template-columns: 30.78vw 1fr;
  }

  .main__article--layout-title-left-big .main__article-title {
    grid-area: header;
  }

  .main__article--layout-title-left-big .main__article-section:nth-of-type(1) {
    grid-area: section-1;
  }
}

@media (width >= 1024px) {
  .main__article--layout-columns {
    grid-template-areas:
      'header . .'
      'section-1 section-2 section-3';
    grid-template-columns: 30.78vw 30.78vw 30.78vw;
  }
}

.main__article-picture {
  width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center;
  display: block;
}

.main__article-pictures {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  padding-block-end: 30px;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100vh;
  min-height: 668px;
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

@media (width >= 768px) {
  .main__article-pictures {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-block-end: 40px;
  }

  .main__article-pictures .title-decor {
    grid-column: span 3;
  }

  .main__article-picture-sunset {
    grid-column: span 2;
  }

  .main__article-picture-ice-cream {
    grid-row: span 2;
  }

  .main__article-picture-tape {
    grid-row: span 2;
  }

  .main__article-picture-street {
    grid-column: span 2;
  }
}
